<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/illustrations/favicon.ico">

    <title>Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900">

    <nav class="bg-zinc-900 p-5">
        <div class="max-w-screen-xl mx-auto flex justify-between items-center">
            <a href="./" class="text-white text-3xl tracking-tighter">
                QuickNote
            </a>
            
        </div>
    </nav>
    <div class="bg-blue-600 items-center text-center text-white max-w-screen-xl mx-auto justify-center p-2 items-center tracking-tight"
  ></div>
    <div class="flex justify-center items-center min-h-screen bg-zinc-900">
        <div class="bg-zinc-800  p-6 rounded-lg shadow-lg w-full max-w-md mr-4 ml-4">
            <h2 class="text-2xl text-center text-white mb-4 tracking-tight">REGISTER USER</h2>
            <form action="/register" method="post" class="space-y-4">
                <div>
                    <label class="block text-white">Username</label>
                    <input type="text" name="username" id="username"
                        class="w-full p-2 border border-gray-300 rounded-lg bg-transparent text-white" required>
                    <span id="usernameError" class="text-red-500 text-sm"></span>
                </div>
            
                <div>
                    <label class="block text-white">Name</label>
                    <input type="text" name="name"
                        class="w-full p-2 border border-gray-300 rounded-lg bg-transparent text-white" required>
                </div>
            
                <div>
                    <label class="block text-white">Email</label>
                    <input type="email" name="email" id="email" class="w-full p-2 border border-gray-300 rounded-lg bg-transparent text-white" required>
                    <p id="emailError" class="text-red-500 text-sm mt-1"></p> 
                </div>
            
                <div>
                    <label class="block text-white">Password</label>
                    <input type="password" name="password" id="password"
                        class="w-full p-2 border border-gray-300 rounded-lg bg-transparent text-white" required>
                    <span id="passwordError" class="text-red-500 text-sm"></span>
                </div>
            
                <div>
                    <label class="text-white">
                        <input type="checkbox" id="agreeCheckbox" required>
                        I agree to the <a class="text-blue-500 tracking-tight" href="">Terms and Conditions</a>
                    </label>
                </div>
            
                <button type="submit" id="submitButton"
                    class="w-full bg-blue-500 text-white p-2 rounded-lg hover:bg-blue-700" disabled>
                    Register
                </button>
            </form>
            
            
            <div class="flex flex-wrap mt-4 gap-3 justify-center ">
                <p class="text-center text-white tracking-tight"
                >Already have an account ?</p>
                <a  class="text-center text-blue-500 tracking-tight" href="/login">Login</a>
            </div>
        </div>
    </div>

    <script src="/javascripts/formvalidation.js"></script>

</body>
</html>
